extends layout

block content
  h1 Feed de Noticias
  p Bem vindo #{dados.firstName}
  .container
    form
      textarea(class="form-control" name="textarea" placeholder="Em que estás a pensar?")
      input(type="file" class="form-control-file" name="inputFile")
      button(type="submit" class="btn btn-primary") Publicar