extends layout

block content
  h1 Feed de Noticias
  p Bem vindo #{dados.firstName}
  .container
    form(action="/newPost" method="POST" enctype="multipart/form-data")
      .container(id="lista")
        .container(id="f1")
          div.form-group
            input(type="text" class="form-control" name="content" placeholder="Em que estás a pensar")
          div.form-gorup
            label Ficheiro
            input(type="file" class="form-control-file" name="file")
      div
        button.btn.btn-primary(type="button" id='mais1') Adicionar mais ficheiros 
      input(type="submit" class="btn btn-primary" value="Publicar")
  .container
    each p in dados.friends
      hr
      p #{p.posts}
      hr