extends layout

block content
  div.m-5
    h1.text-center Feed
    div.m-5.bg-light.shadow.p-3.mb-5.rounded
      form(action="/newPost" method="POST" enctype="multipart/form-data")
        .container(id="lista")
          .container(id="f1")
            div.form-group.pt-5
              input(type="text" class="form-control" name="content" placeholder="Partilha algo!")
            div
              .row
                .col
                  label Ficheiro: &nbsp 
                  input(type="file" name="file")
                .col-md-3
                  label É privado?  
                  div(class="form-check form-check-inline")
                    input(type="radio" class="form-check-input" name="isPrivate" value="True")
                    label(class="form-check-label" for="inlineRadio1") Sim
                  div(class="form-check form-check-inline")
                    input(type="radio" class="form-check-input" name="isPrivate" value="False")
                    label(class="form-check-label" for="inlineRadio1") Não
        .container
          .row.ml-0
            .col
              button.btn.btn-secondary(type="button" id='mais1') +Ficheiros
          .row.m-5.pb-3.d-flex.justify-content-center
            .col-md-2
              input(type="submit" class="btn btn-primary" value="Publicar")
    .container
      each p in dados
        div.alert.alert-secondary.shadow.p-3.mb-5.bg-white.rounded
          .container
            .row
              .col-sm-2
                label.font-weight-bold Publicado por: 
              .col
                a(href='/users/' + p.emailOfAuthor) #{p.emailOfAuthor}
              .col-sm-2
                small #{p.dateOfCreation}
            p #{p.content}


          if p.files.length > 0
            table.table.table-hover.table-bordered
              tr
                th Ficheiro
                th 
                  each f in p.files
                    tr
                      td= f.name
                      td
                        a(href="/download/" + f.name) Download