extends layout

block content
    h3 Criar Novo Grupo
    .container
      form(action="/newGroup" method="POST" enctype="multipart/form-data")
        div.form-group
          input(type="text" class="form-control" name="name" placeholder="Nome do Grupo")
        div.form-group
          input(type="text" class="form-control" name="description" placeholder="Descrição")
        div.form-group
          label É privado?  
          div(class="form-check form-check-inline")
            input(type="radio" class="form-check-input" name="isPrivate" value="True")
            label(class="form-check-label" for="inlineRadio1") Sim
          div(class="form-check form-check-inline")
            input(type="radio" class="form-check-input" name="isPrivate" value="False")
            label(class="form-check-label" for="inlineRadio1") Não
        div.form-gorup
            label Foto do Grupo
            input(type="file" class="form-control-file" name="photo")
        br
        button(type="submit" class="btn btn-primary") Criar Grupo
    br
    h3 Os meus grupos
    if myGroups <= 0
        p Ainda não pertence a nenhum grupo!
    else 
        each myGroup in myGroups.groups
            p Nome: #{myGroup.name}
            p Descrição: #{myGroup.description}
            a(href='/groups/' + myGroup._id) Ver grupo
    h3 Todos os Grupos
    if groups <= 0
        p Ainda não existem grupos criados!
    else 
        each group in groups
            p Nome: #{group.name}
            p Descrição: #{group.description}
            a(href='/groups/' + group._id) Ver grupo
    
    