doctype html
html
  head
    title UMinhoISN
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/jquery.modal.min.css")
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/jquery.modal.min.js')
    script(src="/javascripts/mais1.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
  body
    nav.navbar.navbar-dark.bg-primary
        a.navbar-brand(href='/feed') UMinhoISN
        form.form-inline.my-2.my-lg-0(action="/findUsers" method="POST")
            input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search' name="name")
            button.btn.btn-light.my-2.my-sm-0(type='submit') Pesquisar
    ul
        li
          a(href="/signout") Logout
        li
          a(href="/myProfile") Meu Perfil
        li
          a(href="/groups") Grupos
    block content